
{% extends "base" %}
{% block extracontent %}

<div class="container">
    <table class="table table-striped table-hover caption-top table-responsive">
        <caption>List of selected stocks</caption>
        <thead>
          <tr>